<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ book?.id ? 'Edit' : 'Add' }} Book</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" navPop [isModal]="true">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="modal-content">

  <form [formGroup]="bookForm" (ngSubmit)="create()">
    <ion-item class="custom-input">
      <ion-label position="floating">Book Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <error-messages [form]="bookForm" controlName="name" [submitAttempt]="submitAttempt" message="Name required."></error-messages>
    <ion-item class="custom-input">
      <ion-label position="floating">Pages number</ion-label>
      <ion-input type="number" formControlName="pages"></ion-input>
    </ion-item>
    <error-messages [form]="bookForm" controlName="pages" [submitAttempt]="submitAttempt" message="Book pages required."></error-messages>
    <ion-item class="custom-input">
      <ion-label position="floating">Book Author</ion-label>
      <ion-input type="text" formControlName="author"></ion-input>
    </ion-item>
    <error-messages [form]="bookForm" controlName="author" [submitAttempt]="submitAttempt" message="Author required."></error-messages>
    <button type="submit" class="form-enter-sumbit">Submit with enter button hack</button>
    <ion-button type="submit" class="submit-btn" expand="block" color="primary">{{ book?.id ? 'Update' : 'Add' }} book</ion-button>
  </form>

</div>
