ion-content {
  --padding-start: 30px;
  --padding-end: 30px;
  --padding-top: 30px;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--ion-color-primary);
  img {
    width: 100px;
  }
}

ion-title {
  display: flex;
  align-items: center;
  img {
    width: 100px;
  }
}

ngx-datatable {
  border-radius: 5px;
  ::ng-deep {
    .empty-row {
      text-align: center !important;
      height: initial !important;
    }
  }
}

.table-container {
  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 25px;
      font-weight: bold;
    }
  }
}