@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import './../node_modules/@swimlane/ngx-datatable/index.css';
@import './../node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import './../node_modules/@swimlane/ngx-datatable/assets/icons.css';

ion-button {
    text-transform: unset;
}

ion-toast {
    --max-width: 500px;
}

.form-enter-sumbit {
    display: none;
}

.custom-modal {
    --height: auto;
    --backdrop-opacity: 0.32 !important;

    ion-toolbar {
        padding-top: 0 !important;
    }

    .ion-page {
        position: relative;
        contain: content;
        max-height: 90vh;
    }

    &::part(content) {
        width: 90vw;
        max-width: 600px;
        border-radius: 5px;
    }

    .modal-content {
        overflow: auto;
        padding: 16px;
        // border-top: 1px solid rgba(255, 255, 255, 0.5);
        border: none;
    }
}